{% extends "layout.twig" %}

{% block content %}
    <div class="page">
        <h1>Categories</h1>
        <hr>
        <div class="row">
        {% for category in categories %}
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card category border-light mb-3">
                {# <div class="card-header">Header</div> #}
                <a href="{{ category['url'] }}" class="color-black no-decoration">
                    <div class="card-body">
                        <h4 class="card-title">{{ category['name'] }}
                        {% if category['fa'] is defined %}
                        <i class="fa fa-{{category['fa']}}"></i>
                        {% endif %}
                        </h4>
                        <div class="card-text-wrapper">
                            <p class="card-text">{{ category['text']|default('') }}</p>
                        </div>
                        <div class="text-right">
                            <span class="badge badge-primary">{{ category['cnt'] }} {{ category['cnt'] == 1 ? 'item' : 'items' }}</span>
                        </div>
                    </div>
                    {% if category['img'] is defined %}
                        <div class="card-bg" style="background: url('{{ category['img'] }}'); background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
                    {% endif %}
                </a>
            </div>
        </div>
        {% endfor %}
        </div>
        <hr>
        <p class="color-secondary text-center mobile-small">Missing something? <script>print_email('petr', 'trustworthy.biz', 'Let me know!')</script></p>
    </div>
{% endblock %}