{% extends "layout.twig" %}

{% block content %}
    <div class="page new-thing">
        <h1>New thing</h1>
        <hr>
        
        <form method="POST" action="/thing/new/">
            {# <fieldset> #}
            <div class="row">
                <div class="form-group col-lg-6 col-md-6">
                    <label for="name">Name</label>
                    <input autofocus minlength="3" required name="new[name]" type="text" maxlength="50" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Evernote, Spotify, Revolut, Nomad List, ..." autocomplete="off">
                    <small id="nameHelp" class="form-text text-muted">(<span class="red">*</span>) Enter the official full name, without any additions or modifications</small>
                </div>
                <div class="form-group col-lg-6 col-md-6">
                <label for="summary">Summary</label>
                    <input minlength="10" name="new[summary]" type="text" maxlength="100" class="form-control" id="summary" aria-describedby="summaryHelp" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit." autocomplete="off">
                    <small id="summaryHelp" class="form-text text-muted">Optional: Describe the product in few words or leave blank</small>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="alert alert-info similar-thing" style="display: none;">
                        <strong>Hey!</strong> I have found some similar things to <span class="current-value">tomatoid</span>. Maybe someone posted this before you? <br />
                        <div class="lst">
                            <a href>First thing</a>, <a href>Second thing</a>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-6">
                    <label for="categories-input">Categories</label>
                    <input name="new[categories]" required type="text" class="form-control" id="categories-input" aria-describedby="categoriesHelp" placeholder="Pick at least one" value="" data-json="{{ jsonCategories }}">
                    <small id="categoriesHelp" class="form-text text-muted">(<span class="red">*</span>) Pick at least one category, 3 max</small>
                </div>
                <div class="form-group col-lg-6 col-md-6">
                    <label for="types-input">What is it?</label>
                    <input name="new[types]" required type="text" class="form-control" id="types-input" aria-describedby="typesHelp" placeholder="Pick at least one" value="" data-json="{{ jsonTypes }}">
                    <small id="typesHelp" class="form-text text-muted">(<span class="red">*</span>) Pick at least one type, 5 max</small>
                </div>
                <div class="form-group col-lg-6">
                    <label for="name">Homepage</label>
                    <input required name="new[homepage]" type="url" maxlength="100" class="form-control" id="homepage" aria-describedby="homepageHelp" placeholder="https://trustworthy.biz" autocomplete="off">
                    <small id="homepageHelp" class="form-text text-muted">(<span class="red">*</span>) Enter the official project homepage</small>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-uploader">
                    <label for="logo">Logo or picture</label>
                    <div class="uploader-area" id="new-thing-uploader">
                        <div class="uploader">Drag image or click to upload</div>
                    </div>
                    <small id="logoHelp" class="form-text text-muted">(<span class="red">*</span>) You can upload <i>.jpg</i>, <i>.png</i>, <i>.gif</i> or <i>.bmp</i> images</small>
                </div>
                <div class="col-lg-12"><hr class="barely-visible"></div>
                <div class="form-group col-lg-12 col-md-12">
                    <label for="labels-input">Label(s)</label>
                    <input name="new[labels]" label="text" class="form-control" id="labels-input" aria-describedby="labelsHelp" placeholder="" value="" data-json="{{ jsonLabels }}">
                    <small id="labelsHelp" class="form-text text-muted">Optional: 0-10 labels describing the thing</small>
                </div>
                <div class="form-group col-md-6 col-lg-6">
                    <label for="facebook">Facebook page</label>
                    <input name="new[facebook]" type="url" maxlength="100" class="form-control" id="facebook" aria-describedby="facebookHelp" placeholder="" value="{{ thing['facebook']|default('') }}" autocomplete="off">
                    <small id="facebookHelp" class="form-text text-muted">Optional: Official Facebook profile url</small>
                </div>
                <div class="form-group col-md-6 col-lg-6">
                    <label for="twitter">Twitter page</label>
                    <input name="new[twitter]" type="url" maxlength="100" class="form-control" id="twitter" aria-describedby="twitterHelp" placeholder="" value="{{ thing['twitter']|default('') }}" autocomplete="off">
                    <small id="twitterHelp" class="form-text text-muted">Optional: Official Twitter profile url</small>
                </div>
                <div class="form-group col-md-6 col-lg-6">
                    <label for="instagram">Instagram page</label>
                    <input name="new[instagram]" type="url" maxlength="100" class="form-control" id="instagram" aria-describedby="instagramHelp" placeholder="" value="{{ thing['instagram']|default('') }}" autocomplete="off">
                    <small id="instagramHelp" class="form-text text-muted">Optional: Official Instagram profile url</small>
                </div>
                <div class="form-group col-md-6 col-lg-6">
                    <label for="linkedin">LinkedIn page</label>
                    <input name="new[linkedin]" type="url" maxlength="100" class="form-control" id="linkedin" aria-describedby="linkedinHelp" placeholder="" value="{{ thing['linkedin']|default('') }}" autocomplete="off">
                    <small id="linkedinHelp" class="form-text text-muted">Optional: Official LinkedIn profile url</small>
                </div>
                <div class="form-group col-lg-12">
                    <button onclick="window.location='/things'; return false;" class="btn btn-secondary pull-left" type="submit"><i class="fa fa-angle-double-left"></i>&nbsp;Cancel</button>
                    <button class="btn btn-primary pull-right" type="submit">Save&nbsp;<i class="fa fa-floppy-o"></i></button>
                </div>
            </div>
            {# </fieldset> #}
            <input type="hidden" id="imgPath" name="new[img]">
            <input type="hidden" id="tnPath" name="new[tn]">
        </form>
        
        <hr>
        <p class="color-secondary text-center mobile-small">
            Please avoid using any bad words. <br />
            It may take up few minutes before your submission is published.
        </p>
    </div>
{% endblock %}