{% extends "layout.twig" %}

{% block content %}
<div class="page thing">
    <h1>Sitemap <span class="text-secondary">of all things</span></h1>
</div>

<h2>Things</h2>
<ul>
{% for thing in things %}
    <li><a href="{{ wwwroot ~ thing['url'] }}">{{ thing['name'] }}</a></li>
{% endfor %}
</ul>

<h2>Categories</h2>
<ul>
{% for category in categories %}
    <li><a href="{{ wwwroot ~ category['url'] }}">{{ category['name'] }}</a></li>
{% endfor %}
</ul>

<h2>Labels</h2>
<ul>
{% for label in labels %}
    <li><a href="{{ wwwroot ~ label['url'] }}">{{ label['name'] }}</a></li>
{% endfor %}
</ul>

<h2>Pages</h2>
<ul>
{% for page in pages %}
    <li><a href="{{ wwwroot ~ page['url'] }}">{{ page['title'] }}</a></li>
{% endfor %}
</ul>

{% endblock %}
