{% extends "layout.twig" %}

{% block content %}
    <div class="page things">
        <h1>Upcoming things</h1>
        <hr>
        <div class="row">
        {% for thing in things %}
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card border-light mb-3">
                    {# <div class="card-header">Header</div> #}
                    <a href="{{ thing['url'] }}" class="color-black no-decoration">
                        <div class="card-body">
                            <h4 class="card-title">
                                <span class="txt">{{ thing['name'] }}</span>
                                <img class="thing-tn pull-right" src="{{thing['img']}}" alt="{{ thing['name'] }}">
                            </h4>
                            <p class="card-text">
                                {{ thing['summary'] is defined ? thing['summary'] : null }}
                            </p>
                            <p class="labels">
                                <span class="badge badge-pill badge-primary"><i class="fa fa-sitemap"></i>&nbsp;{{ thing['categories'][0]['name'] }}</span>
                                <span class="badge badge-pill badge-transparent">+{{ thing['categories']|length - 1 + thing['types']|length + thing['labels']|length }} more</span>
                                <br /><span class="color-secondary"><i class="fa fa-globe"></i></span>
                                {% if thing['facebook'] is defined or thing['twitter'] is defined or thing['linkedin'] is defined or thing['instagram'] is defined %}
                                    <span class="color-secondary"> | </span>
                                    {% if thing['facebook'] is defined %}<i class="fa fa-facebook-square color-secondary"></i>{% endif %}
                                    {% if thing['twitter'] is defined %}<i class="fa fa-twitter-square color-secondary"></i>{% endif %}
                                    {% if thing['linkedin'] is defined %}<i class="fa fa-linkedin-square color-secondary"></i>{% endif %}
                                    {% if thing['instagram'] is defined %}<i class="fa fa-instagram color-secondary"></i>{% endif %}
                                {% endif %}
                                <span class="grade {{ thing['grade']|replace({'+': ''}) }} text-center pull-right" title="Overall score™" data-toggle="tooltip">
                                    {{ thing['grade'] }}
                                </span>
                                {% if thing['is_revision_of'] is defined %}
                                    <br /><span class="badge badge-warning">Revision</span>
                                {% else %}
                                    <br /><span class="badge badge-danger">New!</span>
                                {% endif %}
                            </p>
                        </div>
                        {% if thing['img'] is defined %}
                            <div class="card-bg thing-bg" style="background: url('{{ thing['img'] }}'); background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
                        {% endif %}
                    </a>
                    <div>
                        <button onclick="reject_thing({{ thing['id'] }}, this);" class="btn btn-danger">Reject</button>
                        <button onclick="approve_thing({{ thing['id'] }}, this);" class="btn btn-success pull-right">Approve</button>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <hr>
        <p class="color-secondary text-center mobile-small">Missing some<span class="color-info">thing</span>? <a href="/thing/new">Submit it</a> - everyone can.</p>
    </div>
{% endblock %}