{% extends "layout.twig" %}

{% block content %}
    <div class="page things">
        <h1>Upcoming things</h1>
        <hr>
        <div class="row">
        {% for thing in things %}
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card border-light mb-3">
                    {# <div class="card-header">Header</div> #}
                    <a href="{{ thing['url'] }}" class="color-black no-decoration">
                        <div class="card-body">
                            <h4 class="card-title">{{ thing['name'] }}
                            {% if thing['tn'] is defined %}
                            <div class="pull-right icons">
                                {% endif %}
                                <span class="grade {{ thing['grade']|replace({'+': ''}) }} text-center" title="Overall score™" data-toggle="tooltip">
                                    {{ thing['grade'] }}
                                </span>
                                <img class="thing-tn blend" src="{{thing['img']}}" alt="{{ thing['name'] }}">
                            </div>
                            </h4>
                            <p class="card-text">
                                {{ thing['summary'] is defined ? thing['summary'] : null }}
                            </p>
                            <p class="labels">
                                {% for type in thing['types'] %}
                                    <span class="badge badge-success"><i class="fa fa-tag"></i>&nbsp;{{ type['name'] }}</span>
                                {% endfor %}
                                <span class="color-secondary">&nbsp;|&nbsp;</span>
                                {% for category in thing['categories'] %}
                                    <span class="badge badge-primary"><i class="fa fa-tag"></i>&nbsp;{{ category['name'] }}</span>
                                {% endfor %}
                                {% if thing['labels']|length %}
                                <span class="color-secondary">&nbsp;|&nbsp;</span>
                                {% endif %}
                                {% for label in thing['labels'] %}
                                    <span class="badge badge-secondary"><i class="fa fa-tag"></i>&nbsp;{{ label['name'] }}</span>
                                {% endfor %}
                                <br /><i class="fa fa-globe"></i>&nbsp;{{ thing['homepage']|replace({'http://': '','https://': '','www.': ''}) }}
                                {% if thing['facebook'] is defined or thing['twitter'] is defined or thing['linkedin'] is defined or thing['instagram'] is defined %}
                                    | 
                                    {% if thing['facebook'] is defined %}<i class="fa fa-facebook-square color-primary"></i>{% endif %}
                                    {% if thing['twitter'] is defined %}<i class="fa fa-twitter-square color-primary"></i>{% endif %}
                                    {% if thing['linkedin'] is defined %}<i class="fa fa-linkedin-square color-primary"></i>{% endif %}
                                    {% if thing['instagram'] is defined %}<i class="fa fa-instagram color-primary"></i>{% endif %}
                                {% endif %}
                                {% if thing['is_revision_of'] is defined %}
                                <br /><span class="badge badge-warning">Revision</span>
                                {% endif %}
                            </p>
                        </div>
                        {% if thing['img'] is defined %}
                            <div class="card-bg thing-bg" style="background: url('{{ thing['img'] }}'); background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
                        {% endif %}
                    </a>
                    <div>
                        <button onclick="reject_thing({{ thing['id'] }}, this);" class="btn btn-danger">Reject</button>
                        <button onclick="approve_thing({{ thing['id'] }}, this);" class="btn btn-success pull-right">Approve</button>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <hr>
        <p class="color-secondary text-center">Missing some<span class="color-info">thing</span>? <a href="/thing/new">Submit it</a> - everyone can.</p>
    </div>
{% endblock %}