{% extends "layout.twig" %}

{% block content %}
    <div class="page thing {{ thing['approved_at'] is defined ? 'approved' : 'not-approved' }}" itemscope itemtype="http://schema.org/Product">
        <div class="thing-header-wrapper">
            <div class="thing-header">
                <div id="grade" class="pull-right {{ thing['grade']|replace({'+': ''}) }} text-center" title="Trustindex™" data-toggle="tooltip">
                    <div class="inner">
                        {{ thing['grade'] }}
                    </div>
                </div>
                <h1 class="color-primary"><span class="img-wrapper"><img src="{{ thing['img'] }}" alt="{{ thing['name'] }}" itemprop="image" src="{{ thing['img'] }}"></span><span itemprop="name">{{ thing['name'] }}</span></h1>
                <p class="color-secondary" itemprop="description">
                    {{ thing['summary'] }}
                    {# <br /><a href="{{ thing['homepage'] }}"><i class="fa fa-globe"></i>&nbsp;{{ thing['homepage']|replace({'http://': '','https://': '','www.': ''}) }}</a> #}
                </p>
                <p>
                    {% for category in thing['categories'] %}
                        <a href="{{ category['url'] }}"><span class="badge badge-pill badge-primary"><i class="fa fa-sitemap"></i>&nbsp;{{ category['name'] }}</span></a>
                    {% endfor %}
                    <span class="color-secondary">&nbsp;|&nbsp;</span>
                    {% for type in thing['types'] %}
                        <span class="badge badge-pill badge-dark"><i class="fa fa-info"></i>&nbsp;{{ type['name'] }}</span>
                    {% endfor %}
                    {% if thing['labels']|length %}
                        <br />
                    {% endif %}
                    {% for label in thing['labels'] %}
                        <a href="{{ label['url'] }}"><span class="badge badge-pill badge-info"><i class="fa fa-tag"></i>&nbsp;{{ label['name'] }}</span></a>
                    {% endfor %}
                </p>
                {% if thing['is_revision_of'] is not defined %}
                <a class="edit-link color-secondary" href="/thing/edit/{{ thing['id'] }}/"><small><i class="fa fa-pencil"></i>&nbsp;Edit details</small></a>
                {% endif %}
            </div>
            <div class="thing-header-bg" style="background: url('{{ thing['img'] }}'); background-size: cover; background-repeat: no-repeat; background-position: center center;"></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-9 col-md-12 left">
                {% if thing['description'] is defined and thing['description']|length > 0 %}
                    <div class="thing-description-wrapper">
                        <p class="thing-description">
                        {{ thing['description']|nl2br }}
                        </p>
                    </div>
                    {% if thing['description']|split("\n")|length-1 > 5 %}
                        <div class="text-center">
                            <button onclick="toggle_description(this); return false;" class="btn btn-sm btn-secondary">Full description <i class="fa fa-angle-double-down"></i></button>
                        </div>
                    {% endif %}
                {% endif %}
                {% include 'partial/_crowdsourced.twig' %}
            </div>
            <div class="col-lg-3 col-md-12 right">
                <a class="btn btn-secondary btn-full text-left" href="{{ thing['homepage'] }}">
                    <strong>Visit website</strong>&nbsp;<i class="fa fa-globe"></i><br />
                    <small>{{ helpers.clean_url(thing['homepage']) }}&nbsp;<i class="fa fa-angle-double-right"></i></small>
                </a>
                <p class="color-secondary"><small><i class="fa fa-users"></i>&nbsp;Social</small></p>
                {% if thing['facebook'] is defined or thing['twitter'] is defined or thing['linkedin'] is defined or thing['instagram'] is defined %}
                    {% if thing['facebook'] is defined %}
                        <a href="{{ thing['facebook'] }}" class="social-btn"><i class="fa fa-facebook-square"></i></a>
                    {% endif %}
                    {% if thing['twitter'] is defined %}
                        <a href="{{ thing['twitter'] }}" class="social-btn"><i class="fa fa-twitter-square"></i></a>
                    {% endif %}
                    {% if thing['linkedin'] is defined %}
                        <a href="{{ thing['linkedin'] }}" class="social-btn"><i class="fa fa-linkedin-square"></i></a>
                    {% endif %}
                    {% if thing['instagram'] is defined %}
                        <a href="{{ thing['instagram'] }}" class="social-btn"><i class="fa fa-instagram"></i></a>
                    {% endif %}
                {% else %}
                    <a href="/thing/edit/{{ thing['id'] }}/#second" class="btn btn-sm btn-light btn-full">Add social links <i class="fa fa-angle-right"></i></a>
                {% endif %}
                {% if similar|length %}
                <p class="color-secondary"><small><i class="fa fa-search"></i>&nbsp;Similar things</small></p>
                <div class="list-group">
                    {% for similarThing in similar %}
                        <a href="{{ similarThing['url'] }}" class="list-group-item list-group-item-action">
                            <img class="blend" src="{{ similarThing['img'] }}" alt="{{ similarThing['name'] }}">
                            <span class="name">{{ similarThing['name'] }}</span>
                        </a>
                    {% endfor %}
                </div>
                <hr>
                <a href="/thing/new/" class="btn btn-light btn-full">Add similar thing <i class="fa fa-plus"></i></a>
                {% endif %}
            </div>
        </div>
        <p class="text-center detail-back">
            <a href="{{ thing['categories'][0]['url'] }}" class="btn btn-secondary btn-detail-back"><i class="fa fa-angle-double-left"></i> Back to {{ thing['categories'][0]['name'] }}</a>
        </p>
        <hr>
        <p class="color-secondary text-center mobile-small">
            Please note that these values are <span title="Everyone can contribute" data-toggle="tooltip">crowdsourced</span> and may not reflect product official info. <br />
            Page shows <span class="underline-info">median</span> from the submitted values. Newer data have greater priority.
        </p>
        <span class="hidden" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            <span itemprop="ratingValue">{{ thing['stars'] }}</span>
            <span itemprop="reviewCount">{{ thing['edited'] }}</span>
            <span itemprop="worstRating">0</span>
            <span itemprop="bestRating">5</span>
        </span>
    </div>
    {% if thing['approved_at'] is not defined %}
        <div id="not-approved">
            <div class="content">
                <h2>Waiting for approval</h2>
                {% if thing['is_revision_of'] is defined %}
                <p>
                    Your changes are being reviewed
                    <br />to avoid any duplicate or vulgar content. <br />
                    This should not take more than few minutes.<br /><br />
                    If you have any questions, please <script>print_email('petr', 'trustworthy.biz', 'let me know')</script>.<br /><br />
                    <a href="{{ helpers.make_url('thing', thing['is_revision_of']) }}">Continue to {{ thing['name'] }} <i class="fa fa-angle-double-right"></i></a>
                </p>
                {% else %}
                <p>
                    This thing was added quite recently. <br />
                    To avoid any duplicate or vulgar content, it needs to be checked first. <br />
                    This should not take more than few minutes. <br /><br />
                    If you have any questions, please <script>print_email('petr', 'trustworthy.biz', 'let me know')</script>.<br /><br />
                    <a href="/">Continue</a> or <a href="/thing/new">add another thing <i class="fa fa-angle-double-right"></i></a>
                </p>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}