<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>{{ title }} | {{ appName }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ description }}" />
<meta name="author" content="Petr Nagy" />
<link href="{{ asset('/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">
<link href="{{ asset('/lib/selectize-js/css/selectize.bootstrap3.css') }}" rel="stylesheet">
<link href="{{ asset('/lib/dropzone-js/min/dropzone.min.css') }}" rel="stylesheet">
<link href="{{ asset('/css/app.css') }}" rel="stylesheet">