<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
    <a class="navbar-brand" href="/">
        <img src="/img/logo_v0.0.1_100x100.png" alt="Trustworthy.biz logo" id="logo">
        <span class="logo-txt">trustworthy.<span class="color-info">biz</span></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/things/"><i class="fa fa-list-ul"></i>&nbsp;&nbsp;&nbsp;All things</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="main-nav-categories" href="#"><i class="fa fa-sitemap"></i>&nbsp;&nbsp;&nbsp;Categories</a>
                <div class="dropdown-menu" id="main-nav-categories-dropdown">
                    {% for category in topCategories %}
                    <a class="dropdown-item" href="{{ category['url'] }}"><i class="fa fa-{{ category['fa'] }}"></i>&nbsp;&nbsp;&nbsp;{{ category['name'] }} ({{ category['cnt'] }})</a>
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/categories/">All categories…</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="main-nav-labels" href="#"><i class="fa fa-tag"></i>&nbsp;&nbsp;&nbsp;Labels</a>
                <div class="dropdown-menu" id="main-nav-labels-dropdown">
                    {% for label in topLabels %}
                    <a class="dropdown-item" href="{{ label['url'] }}">{{ label['name'] }} ({{ label['cnt'] }})</a>
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/labels/">All labels…</a>
                </div>
            </li>
            <li class="nav-item help-item">
                <a class="nav-link" href="{{ helpUrl }}"><i class="fa fa-question-circle"></i>&nbsp;&nbsp;&nbsp;Help</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/thing/new/">Add new thing&nbsp;&nbsp;&nbsp;<i class="fa fa-plus"></i></a>
            </li>
        </ul>
    </div>
    </div>
</nav>
